librosa==0.10.1
onnx==1.14.1
onnxruntime==1.15.1
matplotlib
numpy
numba
phonemizer
scipy
tensorboard
torch
torchaudio
torchvision
Unidecode
amfm_decompy
jieba
transformers
pypinyin
cn2an
gradio
av
mecab-python3
loguru
unidic-lite
cmudict
fugashi
num2words
Cython==0.29.21
openai-whisper
protobuf==3.20.*
